<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by 
      <a href="https://github.com/" target="_blank">Github</a> &&
      <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>